.calculator {
  /* width: fit-content; */
  width: 100%;

  display: grid;
  grid-template-areas:
    "result"
    "btns";

  justify-content: center;
}

.calculator__result {
  grid-area: result;
  padding: 1.6rem;
  background-color: whitesmoke;
}
.calculator__btns {
  grid-area: btns;
  display: grid;
  /* align-items: center; */

  grid-template-areas:
    "seven  eight  nine   plus     delete"
    "four   five   six    minus    delete"
    "one    two    three  multi    reset"
    "zero   dot    equals division reset";
  /* gap: 1rem; */
}

.calculator__btn {
  /* height: 6rem; */
  padding: 1.6rem;
  width: 6rem;
}

.calculator__btn:nth-child(1) {
  grid-area: seven;
}
.calculator__btn:nth-child(2) {
  grid-area: eight;
}
.calculator__btn:nth-child(3) {
  grid-area: nine;
}
.calculator__btn:nth-child(4) {
  grid-area: plus;
}
.calculator__btn:nth-child(5) {
  grid-area: delete;
}
.calculator__btn:nth-child(6) {
  grid-area: four;
}
.calculator__btn:nth-child(7) {
  grid-area: five;
}
.calculator__btn:nth-child(8) {
  grid-area: six;
}
.calculator__btn:nth-child(9) {
  grid-area: minus;
}
.calculator__btn:nth-child(10) {
  grid-area: reset;
}
.calculator__btn:nth-child(11) {
  grid-area: one;
}
.calculator__btn:nth-child(12) {
  grid-area: two;
}
.calculator__btn:nth-child(13) {
  grid-area: three;
}
.calculator__btn:nth-child(14) {
  grid-area: multi;
}
.calculator__btn:nth-child(15) {
  grid-area: zero;
}
.calculator__btn:nth-child(16) {
  grid-area: dot;
}
.calculator__btn:nth-child(17) {
  grid-area: equals;
}
.calculator__btn:nth-child(18) {
  grid-area: division;
}

.calculator__btn--entry {
}
.calculator__btn--number {
}
.calculator__btn--symbol {
}
.calculator__btn--delete {
}
.calculator__btn--reset {
}
.calculator__btn--dot {
}
.calculator__btn--equals {
}
