body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* align-items: center; */
}
.main-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

footer {
  padding: 2rem;
  text-align: center;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-around; */
  /* width: fit-content; */
  margin-bottom: 4rem;
  background-color: #759daa;
  width: 100%;
}

@media (min-width: 480px) {
  .main__header {
    gap: 8px;
  }
}

.main__icon {
  width: 6rem;
  height: 6rem;
}
.main__title {
  /* text-shadow: 2px 2px 20px black; */
  text-align: center;
  width: min-content;
}

@media (min-width: 600px) {
  .main__title {
    width: auto;
  }
}

.cards {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* padding: 2rem; */
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffe3c7;
  border-radius: 2rem;
  max-width: 240px;
}
.card__title {
  margin-top: 0;
  /* align-self: center; */
}
.card__icon {
  fill: #d65108;
  /* align-self: center; */
  width: 12rem;
}
.card__description {
  text-align: justify;
  /* color: #192bc2; */
}
.card__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__btn {
  display: flex;
  gap: 8px;
  padding: 1.2rem;
  border-radius: 2.4rem;
  text-decoration: none;
  color: #591f0a;
  background-color: #d65108;
}
.card__icon-btn {
  width: 2rem;
  fill: #591f0a;
}
