body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;

  background-color: #f5f7fa;
}
.main-content {
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  color: #0d1b2a;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 4rem;
  width: 100%;
}

.main__icon {
  width: 5rem;
  height: 5rem;
}
.main__title {
  text-align: center;
  width: min-content;
  color: #0d1b2a;
}

.cards {
  display: flex;

  justify-content: center;

  flex-wrap: wrap;
  gap: 8rem;

  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dce1e8;

  border-radius: 2rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  max-width: 300px;
}
.card__btn--view {
  color: #ffffff;
  background-color: #1b263b;
  fill: #fffcf8;
}

.card__btn--github {
  color: #ffffff;
  background-color: #606060;
  fill: #ffffff;
}

.card__title {
  color: #0d1b2a;
  margin-top: 0;
  margin: 0;
}
.card__icon {
  fill: #ff9f1c;
  stroke: #0d1b2a;
  min-height: 160px;

  width: 15rem;
}

.card__btn--github:hover {
  transform: scale(1.04);
  background-color: #ffffff;
  color: #606060;
  fill: #606060;
}
.card__btn--view:hover {
  transform: scale(1.04);
  background-color: #ffffff;
  color: #1b263b;
  fill: #1b263b;
}

.card__icon--todolist {
}

.card__description {
  text-align: justify;

  max-height: 63px;

  color: #3d5a80;

  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}
.card__footer {
  display: flex;

  justify-content: space-between;
  width: 100%;
}

.card__btn {
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 5rem;
  gap: 8px;
  padding: 1.2rem;
  border-radius: 2.4rem;
  text-decoration: none;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  transition: all 0.4s ease;
}

.card__icon-btn {
  width: 2rem;

  transition: all 0.4s ease;
}

@media (min-width: 600px) {
  .main__title {
    width: auto;
  }
}
@media (min-width: 768px) {
  .card {
    box-shadow: none;
    transition: all 0.5s ease;
  }

  .card:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  }
}
