body {
  /* background-color: #00A5E0; */
  background-color: #f5f3bb;
  min-width: 32rem;
}

.main-content {
  width: 100%;
}
.main__cards {
  padding: 2.8rem;
}
.main__card {
  padding: 2.8rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dfa06e;
  max-width: 25rem;
  min-width: 208px;
  transition: all 0.6s ease-out;
  box-shadow: 4px 4px 20px #353331b9;
}

/* Mazo de miniproyectos */

.main__card:hover {
    transform: scale(0.9);
    box-shadow: none;
}

.main__title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__card-title {
  margin-top: 0;
  color: #412722;
}
.main__img {
  fill: #f5f3bb;
  width: 12rem;
  height: 12rem;
  align-self: center;
}
.main__description {
  text-align: center;
  color: #412722;
}
.main__btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.main__btn {
  font-weight: 500;
  text-decoration: none;
  color: #f5f3bb;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #df2935;
}
