body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  /* height: 100vh; */

  background-color: #fef3e9;

}
.main-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footer {
  padding: 2rem;
  text-align: center;
  font-weight: 500;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* justify-content: space-around; */
  /* width: fit-content; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */

  margin-bottom: 4rem;
  width: 100%;
}

.main__icon {
  width: 5rem;
  height: 5rem;
}
.main__title {
  /* text-shadow: 2px 2px 20px black; */
  text-align: center;
  width: min-content;
  /* color: #fffcf8; */
}

.cards {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* padding: 2rem; */
  flex-wrap: wrap;
  gap: 8rem;

  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  justify-content: center;
  gap: 2.6rem;
=======
  justify-content: space-around;
>>>>>>> main
  padding: 20px;
  background-color: #fffcf8;
  border-radius: 2rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  max-width: 240px;
  /* max-height: 421.234px; */
<<<<<<< HEAD
  height: 420px;
=======
  height: 500px;
>>>>>>> main

  /* transition: all 0.5s ease; */
}

.card__title {
  margin-top: 0;
  margin: 0;
  /* align-self: center; */
}
.card__icon {
  fill: #ffafad;
  min-height: 160px;
  /* align-self: center; */
  width: 12rem;
}

.card__icon--todolist {
  /* height: 46rem; */
  width: 15rem;
}

.card__description {
  text-align: justify;
  /* color: #192bc2; */
<<<<<<< HEAD
  max-height: 63px;
  /* overflow: hidden; */
=======
  /* max-height: 63px; */
  overflow: auto;
>>>>>>> main
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}
.card__footer {
  display: flex;
  /* padding: 0; */
  justify-content: space-between;
  width: 100%;
}

.card__btn {
  display: flex;
  gap: 8px;
  padding: 1.2rem;
  border-radius: 2.4rem;
  text-decoration: none;
  color: #fffcf8;
  background-color: #ff64b0;
  fill: #fffcf8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

  transition: all 0.4s ease;
}

.card__btn:hover {
  transform: scale(1.04);
  background-color: #fffcf8;
  color: #ff64b0;
  fill: #ff64b0;
}

.card__icon-btn {
  width: 2rem;
  /* fill: #fffcf8; */
  transition: all 0.4s ease;
}
/* .card__icon-btn:hover {
  fill: #ff64b0;
} */

@media (min-width: 600px) {
  .main__title {
    width: auto;
  }
}
@media (min-width: 768px) {
  .card {
    box-shadow: none;
    transition: all 0.5s ease;
    max-height: 421.234px;
  }

  .card:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 480px) {
  .main__header {
    gap: 8px;
  }
}