body {
  /* width: 100%; */
  background-color: #b83954;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  /* background-image: url(/image/fernanda.jpg); */
  justify-content: space-between;
  /* gap: 12rem; */
}

.body--fernanda{
  display: flex;
  flex-direction: column;
  background-image: url(/image/fernanda.jpg);
  justify-content: space-between;
}

main {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */

  /* width: 100%; */

  /* gap: 111rem; */
  /* justify-content:space-evenly; */
}
footer {
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
}

.title {
  padding: 2rem;
  margin: 0;
  color: whitesmoke;
}

.calculator__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.calculator {
  width: 100%;
  width: fit-content;
  font-size: 2rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  background-color: #ecebdb;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "result"
    "btns";
  justify-items: center;
  align-items: center;
  border-radius: 1rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.history__title {
  font-size: 3.2rem;
  color: whitesmoke;
  margin: 0;
  padding: 2rem;
}

.history__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 137.219px;
  /* padding: 2rem; */

  background-color: #ecebdb;
  width: 243px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  text-overflow: clip;
}

.history__element {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  text-overflow: clip;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.history__operation {
  overflow: auto;
  max-width: 10rem;
  text-wrap: wrap;
  text-align: left;
  /* font-weight: 700; */
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
  /* height: fit-content; */
  /* display: flex; */

  /* flex-wrap: wrap; */
}
.history__btns {
  margin-top: 16.1875px;
  display: flex;
  gap: 1rem;
}

.history__btn {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: none;

  width: fit-content;
  padding: 0.6rem;
  transition: all 0.5s ease;
}

.history__btns-messague {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btns__messague {
  height: 16.2px;
  font-weight: 700;

  border: 1px solid transparent;
  /* min-width: 16.2px; */
}

.history__btn:active {
  transform: scale(0.8);
}

.history__btn--copy {
  background-color: #049541;
  fill: whitesmoke;
}
.history__icon {
  width: 2rem;
}
.history__btn--delete {
  background-color: #ed642b;
  fill: whitesmoke;
}

@media (min-width: 1024px) {
  main {
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
  }

  .calculator__section {
    align-self: flex-start;
  }

  .history {
    align-self: flex-start;
    padding: 0;
  }
}

.calculator__result {
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
  width: 100%;
  text-align: start;
  font-weight: 600;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.932);

  height: 4rem;
  max-width: 21rem;
  grid-area: result;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: whitesmoke;
  overflow: auto;

  z-index: 2;
}

.calculator__btns {
  cursor: pointer;
  gap: 0.1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  grid-area: btns;
  display: grid;
  z-index: 1;
  grid-template-areas:
    "delete  delete  reset   reset"
    "seven   eight   nine    plus"
    "four    five    six     minus"
    "one     two     three   multi"
    "zero    dot     equals  division ";
  /* gap: 1rem; */
}

.calculator__icon {
  width: 2.1rem;
  fill: #c71d1c;
}
.calculator__icon--mini {
  width: 1.5rem;
  fill: #c71d1c;
}

.calculator__btn {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 1.6rem;
  border: 1px solid whitesmoke;

  width: 6rem;
  font-size: 2rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  transition: all 0.5s ease;

  justify-content: center;
}

.calculator__btn:active {
  outline: none;
  box-shadow: inset 0px 0px 2cqmin grey;
  border-color: grey;
}

.calculator__btn:nth-child(1) {
  grid-area: seven;
}
.calculator__btn:nth-child(2) {
  grid-area: eight;
}
.calculator__btn:nth-child(3) {
  grid-area: nine;
}
.calculator__btn:nth-child(4) {
  grid-area: plus;
}
.calculator__btn:nth-child(5) {
  grid-area: delete;
  width: 12rem;
  display: flex;
  color: #c71d1c;

  align-items: center;
  justify-content: center;
}
.calculator__btn:nth-child(6) {
  grid-area: four;
}
.calculator__btn:nth-child(7) {
  grid-area: five;
}
.calculator__btn:nth-child(8) {
  grid-area: six;
}
.calculator__btn:nth-child(9) {
  grid-area: minus;
}
.calculator__btn:nth-child(10) {
  grid-area: reset;
  width: 12rem;
  color: #c71d1c;
}
.calculator__btn:nth-child(11) {
  grid-area: one;
}
.calculator__btn:nth-child(12) {
  grid-area: two;
}
.calculator__btn:nth-child(13) {
  grid-area: three;
}
.calculator__btn:nth-child(14) {
  grid-area: multi;
}
.calculator__btn:nth-child(15) {
  grid-area: zero;
}
.calculator__btn:nth-child(16) {
  grid-area: dot;
}
.calculator__btn:nth-child(17) {
  grid-area: equals;
}
.calculator__btn:nth-child(18) {
  grid-area: division;
}
