body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.input-btn {
  /* display: flex;  */
}

p {
  font-weight: 500;
}

input {
  width: 23rem;
}
