body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* align-items: center; */
  /* height: 100%; */
  /* position: relative; */
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width:fit-content;
  background-color: whitesmoke;
  padding: 4rem;
}
.todo-list__general {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-list__title {
  margin: 0;
}
.todo-list__bar {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  position: relative;
}

.todo-list__input {
  padding: 1.6rem;
  padding-right: 6.6rem;
  border-radius: 2rem;
  border: 1px solid grey;
  width: 188px;
  z-index: 1;
  /* font-weight: 600; */
}
.todo-list__button {
  padding: 1.4rem;
  border-radius: 2rem;
  border: 1px solid grey;
  font-weight: 800;
  position: absolute;
  right: -1rem;
  z-index: 2;
  /* display: none; */
}

.todo-list__list {
  width: 100%;
  /* border: 1px solid red; */
  /* padding: 1rem; */
  background-color: whitesmoke;
}
.todo-list__element {
  /* padding: 1.6rem; */
  display: flex;
  /* gap: 1rem; */
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
}
.todo-list__check-task {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* padding: 2rem; */
}
.todo-list__check {
  padding: 2rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  /* appearance: none; */
  background-color: blue;
  border-radius: 100%;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"] + label {
  padding-left: 2.4rem;
}

label {
  position: relative;
}

label::before {
  content: "";
  border-radius: 100%;
  border: solid 2px grey;
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  left: -5px;
  z-index: 2;
  transition: all 0.2s ease;
  /* margin-left: 1rem; */
  /* background-color: red; */
}

[type="checkbox"]:checked + label::before {
  border-color: #63e6be;
  color: greenyellow;

  background-image: url(asents/check-solid.svg);
  background-repeat: no-repeat;
  opacity: 1;
  transform: scale(1.2);
  background-size: cover;
}

.todo-list__task {
  margin: 0;
  /* overflow: auto; */
  text-align:left;
  /* text-wrap: wrap; */
  max-width: 166.406px;
  max-height: 42px;
  padding: 5px;
  /* text-wrap: wrap; */
}

.todo-list___edit-delete {
}
.todo-list__option {
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: transparent;
  border: transparent;
}
.todo-list__icon {
  width: 2rem;
}
.todo-list__icon--delete {
  width: 1.6rem;
}

.todo-list__delete {
}

footer {
  text-align: center;
  font-weight: 500;
  padding: 2rem;
}
