body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #000036;
  min-width: 320px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.todo-list {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
  background-color: #000036;
}

.todo-list__general {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  animation: appear-scale-element 1s ease;

}

.todo-list__title {
  margin: 0;
  color: #63e6be;
  /* animation: vibration 3s ease; */
}
.todo-list__bar {
  display: flex;
  /* flex-direction: column; */
  width: 100%;

  position: relative;
  box-shadow: 0 1px 3px #ffffffaf;
  border-radius: 2rem;
}

input {
  font-size: 16px;
  touch-action: manipulation;
}

.todo-list__input {
  padding: 1.6rem;

  padding-right: 6.6rem;
  border-radius: 2rem;
  border: 1px solid grey;
  /* max-width: 188px; */
  /* z-index: 1; */
  transition: all 0.5 ease;
  box-shadow: inset 0 1px 3px rgba(182, 181, 181, 0.87);
  /* font-weight: 600; */
}

.todo-list__input::placeholder {
  color: black;
  opacity: 0.5;
  font-weight: 500;
}

.todo-list__input:focus {
  border-color: #63e6be;
  box-shadow: 0 0 5px #63e6be;
  outline: none;
}

.todo-list__button {
  padding: 1.8rem;
  border-radius: 2rem;
  border: 1px solid #63e6be;
  background-color: #63e6be;
  font-weight: 800;
  position: absolute;
  right: -1rem;
  /* z-index: 2; */

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.582);
  transition: all 0.5s ease;
  cursor: pointer;
}

.todo-list__button-disable {
  display: none;
}

.todo-list__edit-button {
  padding: 1.8rem;
  border-radius: 2rem;
  border: 1px solid #63e6be;
  background-color: #63e6be;
  font-weight: 800;
  position: absolute;
  right: -1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.582);
  transition: all 0.5s ease;
  cursor: pointer;
}

.todo-list__edit-button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.582);
}

.todo-list__edit-button:hover {
  transform: scale(1.04);
}

.todo-list__edit-button-disable {
  padding: 1.4rem;
  border-radius: 2rem;
  border: 1px solid #63e6be;
  background-color: #63e6be;
  font-weight: 800;
  position: absolute;
  right: -1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.582);
  transition: all 0.5s ease;
  cursor: pointer;
  display: none;
}

.todo-list__button:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.582);
}

.todo-list__button:hover {
  transform: scale(1.04);
}

.todo-list__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* width: 100%; */
  /* height: 100%; */
  /* border: 1px solid red; */
  /* padding: 1rem; */
  border-radius: 2rem;
  /* padding-left: 1.2rem; */
}
.todo-list__element {
  background-color: #000050;
  /* padding: 1.6rem; */

  display: flex;
  border-radius: 2rem;
  box-shadow: 0px 1px 5px #fcfcfc96;
  /* height: 20rem; */
  height: fit-content;
  /* gap: 1rem; */
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

@keyframes appear-scale-element {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes disappear-scale-element {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity-low {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes opacity-high {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes vibration {
  0%,
  100% {
    transform: scale(1);
    transform: rotate(0deg);
  }
  25% {
    /* transform: scale(1.2); */
    transform: rotate(2deg);
    /* transform: rotateX(20deg); */
  }
  50% {
    /* transform: scale(1.2); */
    transform: rotate(-2deg);
    /* transform: rotateX(20deg); */
  }
}

.todo-list__check-task {
  /* padding: 1rem; */
  display: flex;

  /* min-width: 281.781px; */
  align-items: center;

  /* justify-content: center; */
}
.todo-list__check {
  /* padding: 2rem; */
  cursor: pointer;
  width: 2rem;
  height: 2rem;

  /* appearance: none; */
  background-color: blue;
  border-radius: 100%;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"] + label {
  padding-left: 3.4rem;
  /* padding-right: 3.4rem; */

  cursor: pointer;
  /* padding-right: 5rem; */
}

label {
  /* text-decoration: line-through;
  text-decoration-color: red;  */
  scrollbar-width: thin;
  scrollbar-color: #63e6be transparent;
  padding: 2rem;
  position: relative;
}

label::before {
  content: "";
  border-radius: 100%;
  border: solid 2px #63e6be;
  /* border-color: ; */

  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 0;
  top: 4px;
  /* z-index: 1; */
  transition: all 0.1s ease;
  /* margin-left: 1rem; */
  /* background-color: red; */
}

[type="checkbox"]:checked + label::before {
  border-color: #63e6be;
  background-color: #63e6be;
  color: greenyellow;

  background-image: url(asents/check-solid.svg);
  background-repeat: no-repeat;
  opacity: 1;
  /* transform: scale(1.09); */
  background-size: cover;
}

.todo-list__task {
  margin: 0;
  color: white;
  font-weight: 600;
  padding: 0.4rem;
  /* display: flex; */
  /* z-index: 2; */
  text-align: left;
  /* text-wrap: wrap; */
  max-width: 120px;
  overflow: auto;
  max-height: 42px;
  /* text-decoration: line-through;
  text-decoration-thickness: 1px; */
  /* padding-bottom: 2rem; */
  /* text-wrap: wrap; */
}

.todo-list___edit-delete {
}
.todo-list__option {
  cursor: pointer;
  fill: whitesmoke;
  padding: 0.6rem;
  border-radius: 1rem;
  background-color: transparent;
  border: transparent;
  transition: all 0.4s ease;
  /* width: 100%; */
}

.todo-list__option svg {
  pointer-events: none;
}

.todo-list__option:hover {
  transform: scale(1.2);
}
.todo-list__option:focus {
  transform: scale(1.2);
}

.todo-list__option:active {
  transform: scale(1.4);
}

.todo-list__icon {
  width: 2rem;
  height: 2rem;
}

/* .todo-list__icon,
.todo-list__icon path {
  pointer-events: none;
} */

.todo-list__icon--delete {
  width: 1.6rem;
}

.todo-list__delete {
}

footer {
  text-align: center;
  font-weight: 500;
  padding: 2rem;
  color: white;
}

@media (min-width: 1024px) {
  .todo-list__button {
    padding: 1.6rem;
  }

  label::before {
    top: 7px;
  }

  .todo-list__edit-button {
    padding: 1.6rem;
    border-radius: 2rem;
    border: 1px solid #63e6be;
    background-color: #63e6be;
    font-weight: 800;
    position: absolute;
    right: -1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.582);
    transition: all 0.5s ease;
    cursor: pointer;
  }
}
