body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* align-items: center; */
  width: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: whitesmoke;
  padding: 4rem;
}
.todo-list__title {
  margin: 0;
}
.todo-list__bar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo-list__input {
  padding: 1.6rem;
  border-radius: 2rem;
  border: 1px solid grey;
  /* font-weight: 600; */
}
.todo-list__button {
  padding: 1.6rem;
  border-radius: 2rem;
  border: 1px solid grey;
  font-weight: 800;
}

footer {
  text-align: center;
  font-weight: 500;
}
