body {
  background-color: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 320px;
}

main {
  /* padding: 4rem; */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8rem;
  /* justify-content:space-evenly; */
}
.calculator-history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding: 2rem;
  height: fit-content;
  text-align: center;
  color: #0d1b2a;
  font-weight: 500;
}

.title {
  padding-top: 4rem;
  margin: 0;
  color: #0d1b2a;
  animation: appear 2s ease-out;
}
/* s */

.calculator__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.calculator {
  background-color: #0d1b2a;
  width: 100%;
  width: fit-content;
  font-size: 2rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
  /* background-color:floralwhite; */
  background-color: #0d1b2a;
  padding: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "result"
    "btns";
  justify-items: center;
  align-items: center;
  border-radius: 1rem;
  animation: appear-scale-element 1s ease-out;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.history__title {
  font-size: 3.2rem;
  color: floralwhite;
  margin: 0;
  padding: 2rem;
}

.history__box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 137.219px;
  max-height: 30rem;
  /* height: auto; */
  width: 287px;
  /* padding: 2rem; */
  /* width: 100%; */
  background-color: #0d1b2a;
  /* width: 248px; */
  padding: 2rem;
  /* height: auto; */
  /* min-height: 10rem; */
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.4);
  /* transition: max-height 1s ease !important; */
  /* transition: min-height 1s ease; */

  animation: appear-scale-element 2s ease;
}

.history__box--added {
  max-height: 40rem;
}

.history__element {
  display: flex;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  /* max-width: 188px; */
  text-align: center;
  border-radius: 1rem;
  text-overflow: clip;
  background-color: #1b263b;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: appear-scale-element 1s ease-in;
}

@keyframes appear-scale-element {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes disappear-scale-element {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.history__operation {
  overflow: auto;
  max-width: 10rem;
  text-wrap: wrap;
  text-align: left;
  /* font-weight: 700; */
  scrollbar-width: thin;
  color: #ffffff;
  scrollbar-color: #415a77 transparent;
  padding-bottom: 0.8rem;
  /* height: fit-content; */
  /* display: flex; */

  /* flex-wrap: wrap; */
}
.history__btns {
  margin-top: 16.1875px;
  display: flex;
  gap: 1rem;
}

.history__btn {
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  border: none;

  width: fit-content;
  padding: 0.6rem;
  transition: all 0.2s ease;
}

.history__btns-message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btns__message {
  height: 16.2px;
  font-weight: 700;

  border: 1px solid transparent;
  /* min-width: 16.2px; */
}

.history__btn:active {
  transform: scale(1.1);
}

.history__btn--copy {
  background-color: #4caf50;
  fill: #ffffff;
  cursor: pointer;
}
.history__icon {
  width: 2rem;
}
.history__btn--delete {
  background-color: #e63946;
  fill: #ffffff;
  cursor: pointer;
}

.calculator__result {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  scrollbar-width: thin;
  scrollbar-color: #415a77 transparent;
  width: 100%;
  max-width: 248px;
  flex-wrap: wrap;
  text-align: start;
  font-weight: 600;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.932);

  height: 8rem;
  grid-area: result;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #1b263b;
  color: #ffffff;
  overflow-x: auto;

  z-index: 2;
  animation: appear 1s ease;
}

.calculator__result-text {
  width: 100%;
  height: fit-content;
  max-width: 248px;
  font-size: 2.4rem;
  text-align: right;
}

.calculator__btns {
  cursor: pointer;
  gap: 0.7rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  grid-area: btns;
  display: grid;
  z-index: 1;
  grid-template-areas:
    "delete  delete  reset   reset"
    "seven   eight   nine    plus"
    "four    five    six     minus"
    "one     two     three   multi"
    "zero    dot     equals  division ";
  /* gap: 1rem; */
}

.calculator__icon {
  width: 2.1rem;
  /* fill: white; */
}
.calculator__icon--mini {
  width: 1.5rem;
  /* fill: white; */
}

.calculator__btn {
  box-shadow: 0 1px 2px rgba(7, 7, 7, 0.2);
  padding: 1.6rem;
  border: 1px solid #0d1b2a;
  color: #ffffff;

  /* width: 6rem; */
  background-color: #0d1b2a;
  font-size: 2rem;
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
  transition: all 0.5s ease;
  cursor: pointer;
  outline: none;

  justify-content: center;
  transition: all 0.2s ease;
  border-radius: 1rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.calculator:focus {
  outline: none !important;
  box-shadow: none !important;
}

.calculator__btn:active {
  outline: none;
  box-shadow: inset 0px 0px 2px grey;
  transform: scale(1.1);
  border-color: grey;
}

.calculator__btn--entry {
}

*:focus {
  outline: none;
}

.calculator__btn--symbol {
  color: #ffffff;
  width: 100%;
  background-color: #415a77;
  /* border: 1px solid #778da9  */
}

.calculator__btn--clear {
  color: #ffffff;
  fill: #ffffff;
  background-color: #e63946;
}

.calculator__btn--all-clear {
  color: #ffffff;
  fill: #ffffff;
  background-color: #e63946;
}

.calculator__btn--number {
  background-color: #1b263b;
  /* border: 1px solid #415a77; */
}

.calculator__btn--equals {
  background-color: #4caf50;
}

/* .calculator__btn:hover {
  box-shadow: 0px 0px 1px #c71d1c;
} */

.calculator__btn:nth-child(1) {
  grid-area: seven;
}
.calculator__btn:nth-child(2) {
  grid-area: eight;
}
.calculator__btn:nth-child(3) {
  grid-area: nine;
}
.calculator__btn:nth-child(4) {
  grid-area: plus;
}
.calculator__btn:nth-child(5) {
  grid-area: delete;
  width: 12rem;
  border-top-left-radius: 1rem;
  display: flex;

  align-items: center;
  justify-content: center;
}
.calculator__btn:nth-child(6) {
  grid-area: four;
}
.calculator__btn:nth-child(7) {
  grid-area: five;
}
.calculator__btn:nth-child(8) {
  grid-area: six;
}
.calculator__btn:nth-child(9) {
  grid-area: minus;
}
.calculator__btn:nth-child(10) {
  grid-area: reset;
  border-top-right-radius: 1rem;

  width: 12rem;
}
.calculator__btn:nth-child(11) {
  grid-area: one;
}
.calculator__btn:nth-child(12) {
  grid-area: two;
}
.calculator__btn:nth-child(13) {
  grid-area: three;
}
.calculator__btn:nth-child(14) {
  grid-area: multi;
}
.calculator__btn:nth-child(15) {
  grid-area: zero;
  border-bottom-left-radius: 1rem;
}
.calculator__btn:nth-child(16) {
  grid-area: dot;
}
.calculator__btn:nth-child(17) {
  grid-area: equals;
}
.calculator__btn:nth-child(18) {
  grid-area: division;
  border-bottom-right-radius: 1rem;
}

@media (min-width: 1024px) {
  .title {
    padding-top: 4rem;
  }
  main {
    padding: 0;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: 2.8rem;
  }

  .calculator-history {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .calculator__section {
    align-self: flex-start;
  }

  .history {
    align-self: flex-start;
    padding: 0;
  }
}
